<div class="container my-4">
    <h2 class="text-center mb-4 text-primary">User List</h2>
  
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered text-center">
        <thead class="thead-dark">
          <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user?.userId }}</td>
            <td>{{ user?.firstName }}</td>
            <td>{{ user?.lastName }}</td>
            <td>
                <a [routerLink]="['/viewuser', user.userId]" routerLinkActive="active" class="button button1 btn-sm">
                    View Full Details
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <router-outlet></router-outlet>