
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h3 style="color: white;">Insurance Project</h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="viewuserpolicy" (click)="logClick($event)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="viewuserpolicy" routerLinkActive="active">
          View User
        </a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" routerLink="viewallusers" routerLinkActive="active">View User List</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>